/*
+------------------------------------------------
| Main Menu Settings
+------------------------------------------------*/

#mainMenu
{
	width				: 100%		;
	border-collapse		: separate	;
	border-spacing		: 0px		;
	border-style		: none		;
	border-radius		: 8px 8px 0 0	;
}

#mainMenu td
{
	width				: 20%		;
	padding				: 5px		;
	border-width		: 1px		;
	border-style		: none none none solid	;
}

#mainMenu td:first-child
{
	border-style		: none		;
	border-radius		: 8px 0 0 0	;
}

#mainMenu td:last-child
{
	border-radius		: 0 8px 0 0	;
}

nav .subMenu
{
	border-style		: solid none none solid		;
}

nav .subMenu td
{
	border-width		: 1px		;
	border-style		: none none solid	;
	padding				: 5px		;
}

/*
+------------------------------------------------
| Main Menu Color Settings
+------------------------------------------------*/

#mainMenu
{
	width				: 100%		;
	color				: #fff		;
	/*background-color	: #1b7eb6	;*/
}

#mainMenu td
{
	width				: 20%		;
	padding				: 5px		;
	border-left-color	: #fff		;
	background-color	: #1b7eb6	;
}

nav .subMenu
{
	border-color		: #fff		;
}

nav .subMenu td
{
	color				: #fff		;
	border-color		: #fff		;
	background-color	: #1b7eb6	;
}

#mainMenu td:hover,
nav .subMenu td:hover
{
	background-color	: #3b9eb6	;
}
